{% extends 'base.html.twig' %}

{% block title %}Changer mot de passe{% endblock %}

{% block body %}


    <header style="background:#f0f0f0; padding:10px; display:flex; justify-content:space-between; align-items:center;">
        <div>
            <strong>{{ app.session.get('user_nom') }}</strong><br>
            <small>{{ app.session.get('user_role') }}</small>
        </div>
        <div>
            <a href="{{ path('app_mailing') }}"style="padding:6px 12px; background:#007bff; color:white; text-decoration:none; border-radius:4px;">Mailing</a>
            <a href="{{ path('app_logout') }}" style="padding:5px 10px; background:#d9534f; color:#fff; text-decoration:none; border-radius:3px;">Déconnexion</a>
        </div>
    </header>
<h2>Changer mon mot de passe</h2>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}

<form method="post" action="{{ path('app_monespace') }}">
    <label for="ancien">Ancien mot de passe :</label>
    <input type="password" name="ancien" id="ancien" required>

    <br><br>

    <label for="nouveau">Nouveau mot de passe :</label>
    <input type="password" name="nouveau" id="nouveau" required>

    <br><br>

    <label for="confirmer">Confirmer le nouveau mot de passe :</label>
    <input type="password" name="confirmer" id="confirmer" required>

    <br><br>

    <button type="submit">Changer le mot de passe</button>
</form>
{% endblock %}
